{% extends "base.html" %}

{% block content %}
    <h3 class="title">New Post</h3>
    <form id="NewPostForm" method="post">
        <label>
            <div>Subject:</div>
            <input type="text" name="subject" value="{{subject}}">
        </label>

        <label>
            <div>Blog</div>
            <textarea class="multiline" name="content">{{content}}</textarea>
        </label>

        <div class="error">{{error}}</div>

        <input type="submit" value="Submit Post">
    </form>
{% endblock %}