{% extends "base.html" %}

{% block content %}
    <form method="post">
        <h3 class="title">Sign Up!</h3>
        <div id="RegForm">
            <label>Username:</label>
            <input name="user" type="text" id="username" value={{userf}}><br>
            <label>Password:</label>
            <input name="password" type="password" id="password"><br>
            <label>Verify Password:</label>
            <input name="vPassword" type="password" id="verify"><br>
            <label>Email:</label>
            <input name="email" type="text" id="email" value={{emailf}}><br>
            <p>{{errorf}}</p>
            <input type="submit">
        </div>
    </form>
{% endblock %}